.avi {
    @include fade-in-trans;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    overflow: hidden;
    grid-area: avi;

    opacity: 0;
    animation-delay: .25s;

    img {
        height: 35rem;
        width: auto;
    }

    @media only screen and (max-width: $tablet-width) {
        height: 100%;
        width: auto;
    }
}