html {
    font-size: $global-font-size;

    @media screen and (max-width: $mobile-width) {
        font-size: $global-font-size + 2;
    }

    @media screen and (max-width: $tablet-width) {
        font-size: $global-font-size + 4;
    }
}

body { 
    background-color: $navy; 
}