html {
    font-size: $global-font-size;

    @media screen and (max-width: 800px) {
        font-size: $global-font-size + 2;
    }

    @media screen and (max-width: 1200px) {
        font-size: $global-font-size + 4;
    }
}

body { 
    background-color: $navy; 
}