.grid {
    display: grid;
    grid-template-areas:
        "avi header header"
        "project1 project2 project2"
        "project3 project4 project5"
        "footer footer footer";
    grid-auto-columns: 30%;
    grid-auto-rows: 15rem;
    grid-gap: $xs-size;
    justify-content: center;
    margin: $m-size $l-size;
  }