.header {
    @include item;
    justify-content: center;
    flex-direction: column;
    display: flex;
    grid-area: header;
    padding: $xs-size;
    
    h1 {
        @include fade-in;
        opacity: 0;
        margin: 0;
        animation-delay: .45s;
    }

    h2 {
        @include fade-in-short;
        opacity: 0;
        margin: 0;
        animation-delay: 1.1s;
    }
}

