@mixin item {
    @include blur(3);
    @include fade-in;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

img {
    height: auto;
    width: 110%;
}