@mixin item {
    @include fade-in-trans;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    overflow: hidden;

    // Desktop Hover Effects
    @media only screen and (min-width: $mobile-width) {
        &:hover div {
            @include fade-in;
        }
    
        &:hover img {
            @include blur(3);
            @include bg-fade; 
        }
    }
    
    // Disable Hover Effects for Mobile
    @media only screen and (max-width: $mobile-width) {
        div {
            display: flex;
        }
        img {
            opacity: 0.5;
        }
    }
}

img {
    height: 30rem;
    width: auto;
}