.project1 {
    @include item;
    grid-area: project1;
}

.project2 {
    @include item;
    grid-area: project2;
}

.project3 {
    @include item;
    grid-area: project3;
}

.project4 {
    @include item;
    grid-area: project4;
}

.project5 {
    @include item;
    grid-area: project5;
}