h1 { 
    color: $off-white; 
    font-family: $open-sans;
    font-size: 2rem;
}

h2 {
    color: $off-white;
    font-family: $source-sans-pro;
    font-weight: 200;
    font-size: 1.3rem;
}

p {
    color: transparentize($off-white, .75); 
    font-family: $source-sans-pro;
}

a {
    font-family: $open-sans;
}