@mixin bg-fade {
    animation: .5s ease-out bg-fade;
    animation-fill-mode: forwards;
}

@keyframes bg-fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: .5;
    }
}

@mixin fade-in {
    animation: .5s ease-out fade-in;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}