@mixin hover {
    animation: .5s ease-out fade-out;
}

@mixin fade-in {
    animation: .5s ease-out fade-in;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: .5;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}