@mixin projects-hover {
    display: none;
    position: absolute;
    width: 40rem;
    height: 15rem;
    padding-top: 2%;
    opacity: 0;

    h1 {
        margin-bottom: .5rem;
    }
    p {
        color: $off-white;
    }
}