@mixin fade-in-trans {
    animation: 1s ease-out fade-in-normal;
    animation-fill-mode: forwards;
}

@mixin fade-in-trans-short {
    animation: 1s ease fade-in-short;
    animation-fill-mode: forwards;
}

@keyframes fade-in-normal {
    0% {
        opacity: 0;
        transform: translateY(-4rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-short {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}